/** Clear Floats Without Structural Markup: 
---------------------------------
*  http://www.positioniseverything.net/easyclearing.html
*/
.clearfix {
	display:inline-block;
}

.clearfix:after {
	clear:both;
	display:block;
	font-size:0;
	content:" ";
	height:0;
	visibility:hidden;
}


	
/* Hides from IE-mac \*/
* html .clearfix {
	height:1%;
}

.clearfix {
	display:block;
}


	
/* End hide from IE-mac */

	
/* clear classes for content 
---------------------------------*/
.clearleft {
	clear:left;
}

.clearright {
	clear:right;
}

.clearboth {
	clear:both;
}


	
/* Float classes for images */
.floatleft {
	float:left;
}

.floatright {
	float:right;
}

	
/** "Skip to Main Content" link
---------------------------------
*  This link useful for both visually impaired people and those with mobility impairments
*  who cannot use a mouse.
*/
#skip-nav {
	display:none;
}

#skip-nav a,#skip-nav a:hover,#skip-nav a:visited {
	width:1px;
	position:absolute;
	left:0;
	top:-500px;
	height:1px;
	overflow:hidden;
}

#skip-nav a:active,#skip-nav a:focus {
	width:auto;
	position:static;
	height:auto;
}


	
/* Prevent overflowing content 
***********************************/
#header,#content,#sidebar-left,#sidebar-right,#footer {
	overflow:visible;
	word-wrap:break-word;
/* A very nice CSS3 property */
}


	
/* Rollover edit links for blocks
********************************************/
div.block {
	position:relative;
}

div.block div.edit {
	border:1px solid #eeeeee;
	padding:0 2px;
	display:none;
	background-color:#ffffff;
	font-size:11px;
	position:absolute;
	right:0;
	top:0;
	z-index:40;
}

div.block:hover div.edit {
	display:block;
	z-index:100;
}

div.block:hover div.edit a {
	color:#000000!important;
}

div.block:hover div.edit a:hover {
	color:#db0000!important;
}


	
/* Rollover edit links for views / bug fix with views 2 edit links 
********************************************************************************/
div.view div.views-admin-links {
	width:auto;
}

div.view div.views-admin-links li {
	background:none;
}


	
/*  User interface styles + some admin section styles
****************************************************************************
***************************************************************************/
body.section-admin,body.section-node-add,body.section-node-edit {
	color:black!important;
}

.resizable-textarea textarea {
	font-size:14px!important;
}


	
/*   message / warning ....  */
.warning,.version-recommended {
	background-color:#ffe5e5!important;
}

span.tabledrag-changed {
	background:none!important;
}

div.warning {
	border:1px solid #ff6a6a;
}

.messages {
	padding:10px;
	margin:10px 0;
	border:1px solid #04a107;
	color:#04a107;
	background-color:#edffed;
}

form {
	margin:10px 0;
}


	
/*  new posts / new comments  */
.new,.marker,.comment-new-item a {
	color:#d00000!important;
}


	
/*  BLOCK  admin/build/block/list  */
.section-admin td.region {
	padding:7px!important;
	background-color:#d7d4a8;
}


	
/*  MENU  admin/build/menu/list  */
.page-admin-build-menu-list dt a {
	padding-top:1em;
	display:block;
	font-weight:bold;
}


	
/* MENU  admin/build/menu-customize/primary-links  */
span.tabledrag-changed {
	background:none!important;
}