*/
/*  Drupal starter theme provided by gazwal.com - Freelance Drupal Development Services
It is mainly based on Basic 2.2/2.3, Zen and some personal features  */
/** Drupal admin tables **/
#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
	border-bottom: 1px solid #cccccc; /* IE doesn't display borders on table rows */
}

/* Minor fix for primary and secondary tabs in IE */
ul.primary li a:hover {
	color: #555555;
	text-decoration: none;
	cursor: pointer;
}

ul.secondary li a:hover{
	color: #555555;
	text-decoration: none;
	cursor: pointer;
}

