*/
/*  Drupal starter theme provided by gazwal.com - Freelance Drupal Development Services
It is mainly based on Basic 2.2/2.3, Zen and some personal features  */
/** Layout
---------------------------------
*  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
*  
*  1. Header
*  2. Navigation menu
*  3. Content
*  4. Sidebar Left
*  5. Sideabr Right
*	
*/

.region-content, #main-in {
	width: 960px; /* edit to change the width of the page */
	margin: 0 auto; /* remove 'auto' AND the width to switch to a fluid width */
}

/** Sidebars width
---------------------------------
*  Changing the width of the sidebars is dead easy, just change the
*  values below corresponding to the sidebar you want to modify.
*  Make sure you keep negative values as negative values.
*  For example, if I want to increase the width of the left sidebar
*  to 300px, I would have to change each '190' to '300'.
*
*
*  remenber the common #id & .class rules :
*  .column is used on #content-inner, #sidebar-left, #sidebar-right
*  .inner is used on #content-inner, #sidebar-left-inner, #sidebar-right-inner
*
*  .sidebar => only used in #sidebar-left & #sidebar-right
*
*/
body.two-sidebars #content-inner,
body.sidebar-left #content-inner {
	margin-left: 180px; /* Sidebar Left width */
}

#sidebar-left {
	width: 180px; /* Sidebar Left width */
	margin-right: -180px; /* negative Sidebar Left width */
}

body.two-sidebars #content-inner,
body.sidebar-right #content-inner {
	margin-right: 200px; /* Sidebar Right width */
}

#sidebar-right {
	width: 200px; /* Sidebar Right width */
}

/** Columns inner
---------------------------------
*  You can change the padding inside the columns without changing the
*  width of them by just usinbg the INNER div of each column
*/
#content-inner {
	padding: 10px;
}

#sidebar-left-inner {
	padding: 10px;
}

#sidebar-right-inner {
	padding: 10px;
}

/** LAYOUT RULES
---------------------------------
*  do not change if you're not sure you know what you're doing !!!
*/
#content {
	float: left;
	width: 100%;
	margin-right: -100%;
	padding: 0;
}

                                   
#sidebar-left {
	float: left;
}

                                   
#sidebar-right {
	float: right;
}

/* header */
#header #header-region {
	overflow: hidden;
}

/* footer */
#footer {
	float: none;
	clear: both;
}

/* Layout Helpers */
#header,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
	clear: both;
}

