*/
/*  Drupal starter theme provided by gazwal.com - Freelance Drupal Development Services
It is mainly based on Basic 2.2/2.3, Zen and some personal features  */
.sidebar, 
#navigation, 
#header-region, 
#search-theme-form,
#footer,
.breadcrumb,
.tabs,
.feed-icon,
.links {
	display: none;
}

#page {
	width: 100%;
}

#header {
	background-color: transparent;
}

#content,
#content #content-inner,
.content,
.title {
	margin: 20px 0;
	width: auto;
}

a:hover, a:active, a:link, a:visited {
	color: #000000;
}

