*/
/*  Drupal starter theme provided by gazwal.com - Freelance Drupal Development Services
It is mainly based on Basic 2.2/2.3, Zen and some personal features  */
/*
 * Tabs CSS
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal5-reference.css, line 510.)
 *
 */
  div.tabs {
	margin: 0 0 5px 0;
}

  ul.primary {
	margin: 0;
	padding: 0 0 0 10px;
	border-width: 0;
	list-style: none;
	white-space: nowrap;
	background: url(../images/tabs/tab-bar.png) repeat-x left bottom;
	line-height: normal;
}

  ul.primary li {
	float: left;
	margin: 0;
	padding: 0;
}

  ul.primary li a {
	margin: 0;
	padding: 0 0 0 5px; /* width of tab-left.png */
	border-width: 0;
	display: block;
	color: #777777;
	background-color: transparent;
	background: url(../images/tabs/tab-left.png) no-repeat left -38px;
	font-weight: bold;
	text-decoration: none;
	height: 24px;
}

  ul.primary li a .tab {
	margin: 0;
	padding: 4px 13px 0 6px;
	border-width: 0;
	display: block;
	background: url(../images/tabs/tab-right.png) no-repeat right -38px;
	line-height: 20px;
	height: 20px; /* 24px (parent) - 4px (padding) */
}

  ul.primary li a:hover {
	border-width: 0;
	background-color: transparent;
	background: url(../images/tabs/tab-left.png) no-repeat left -76px;
}

  ul.primary li a:hover .tab {
	background: url(../images/tabs/tab-right.png) no-repeat right -76px;
}

  ul.primary li.active a,
  ul.primary li.active a:hover {
	border-width: 0;
	color: #000000;
	background-color: transparent;
	background: url(../images/tabs/tab-left.png) no-repeat left 0;
}

  ul.primary li.active a .tab,
  ul.primary li.active a:hover .tab {
	background: url(../images/tabs/tab-right.png) no-repeat right 0;
}

  ul.secondary {
	margin: 0;
	padding: 0 0 0 5px;
	border-bottom: 1px solid #c0c0c0;
	list-style: none;
	white-space: nowrap;
	background: url(../images/tabs/tab-secondary-bg.png) repeat-x left bottom;
}

  ul.secondary li {
	float: left;
	margin: 0 5px 0 0;
	padding: 5px 0;
	border-right: none;
}

  ul.secondary a {
	margin: 0;
	padding: 0;
	border: 1px solid #c0c0c0;
	display: block;
	color: #777777;
	background: url(../images/tabs/tab-secondary.png) repeat-x left -56px;
	text-decoration: none;
	height: 24px;
}

  ul.secondary a .tab {
	margin: 0;
	padding: 3px 8px;
	display: block;
	line-height: 18px;
	height: 18px; /* 24px (parent) - 6px (padding) */
}

  ul.secondary a:hover {
	background: url(../images/tabs/tab-secondary.png) repeat-x left bottom;
}

  ul.secondary a.active,
  ul.secondary a.active:hover {
	border: 1px solid #c0c0c0;
	color: #000000;
	background: url(../images/tabs/tab-secondary.png) repeat-x left top;
}

