*/
/*  Drupal starter theme provided by gazwal.com - Freelance Drupal Development Services
It is mainly based on Basic 2.2/2.3, Zen and some personal features  */
/** General styles 
******************************/
body {
	margin: 0;
	font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#page {
	font-size: 0.875em; /* 16px x .75 = 12px */
	line-height: 1.286em; /* 14px x 1.286 = 18px */
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

/* When declaring Link states, remember: LoVe HA : Link | Hover | Visited | Active */
a:link, a:visited {
	color: #006295;
	text-decoration: none;
}

a:hover, a:active {
	color: #d00000;
	text-decoration: none;
}

a:active,a:focus {
	outline: none;
}

a img {
	border: none;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: .5em 0;
	font-weight: bold;
	font-style: normal;
	line-height: 1.2;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

 
/* Paragraph Styles */
p {
	margin: .75em 0;
}

/* List Styles  */
ul, ol {
	margin-left: 0;
	padding-left: 2em;
}

/* Table Styles  */
table {
	width: 99%;
}

tr.even td, tr.odd td {
	padding: 10px 5px;
}

tr.even {
	background-color: #f5f5f5;
}

tr.odd {
	background-color: #ffffff;
}

/* Code */
pre, code {
	font-family: "monaco", "Courier New", monospace;
}

pre {
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaaaaa;
	display: block;
	background-color: #efefef;
}

/* Abbreviation */
abbr {
	border-bottom: 1px dotted #666666;
	white-space: nowrap;
	cursor: help;
}

/*  blockquote  */
blockquote {
background: transparent url(../images/quote.jpg) no-repeat scroll 5% 0;
color:#444444;
font-family:Georgia,sans-serif;
font-size:14px;
font-style:italic;
margin:35px 0 25px;
padding:2px 30px 0 60px;
}

/*  default styles for generic pager  */
ul.pager {
	font-size: .9em;
	font-weight: bold;
	margin: 15px 0;
}

/* taxonomy terms in node.tpl.php */
.vocab-name {
	font-weight: bold;
}

ul.taxonomy, ul.vocab-list {
	padding: 0;
}

ul.taxonomy li.vocab, ul.taxonomy li.vocab-term {
	list-style-image: none;
	list-style-type: none;
}

ul.vocab-list, li.vocab-term {
	display: inline;
}

/**********  styles below may be removed, they are here for the theme demonstration   
***********************************************************************************************
**********************************************************************************************/
.region-content h1, .region-content h3.title, .region-content p {
	margin: 0;
}

/* header area  */
#header {
	background-color: #ffe4b0;
}

#header .region-content {
	background-color: #ffc65b;
}

#header-region {
	background-color: #ffd179;
}

/*  top 01 region  */
#top01 {
	background-color: #f4e0d5;
}

#top01 .region-content {
	background-color: #eac6b2;
}

/*  top 02 region  */
#top02 {
	background-color: #e7e5ca;
}

#top02 .region-content {
	background-color: #d1cd99;
}

#content {
	background-color: #ffffff;
}

#sidebar-left .inner, #sidebar-right .inner {
	background-color: #fdf5e6;
}

#footer {
	background-color: #cafeff;
}

#footer .region-content {
	background-color: #00c1c4;
}

